html a, html .btn-link {
  color: #4078c0;
}

html .btn-link.add-line-comment {
  color: #ffffff;
}

html .link-gray-dark:hover {
  color: #4078c0!important;
}

html .state-open, html .state-proposed, html .state-reopened {
  background-color: #6cc644;
}

html body .btn-primary {
  background-color: #6cc644;
  background-image: linear-gradient(#91dd70, #55ae2e);
  border: 1px solid #5aad35;
}

html body .BtnGroup-item {
  border-right-width: 0;
}

html body .btn-primary:hover, html body .btn-primary:active {
  background-color: #55a532;
  background-image: linear-gradient(#85d063, #4f992f);
  border: 1px solid #519d30;
  background-position: 0 0;
}

html .branch-action-state-clean .branch-action-icon, html .completeness-indicator-success {
  background-color: #6cc644;
}

html .branch-action-state-clean .branch-action-body {
  border-color: #95c97e;
}

html .branch-action-state-clean .branch-action-body::before {
  border-right-color: #95c97e;
}

html .block-diff-added, html .text-green .block-diff-neutral {
  background-color: #55a532;
}

html .text-green {
  color: #55a532!important;
}

html .block-diff-deleted, html .text-red .block-diff-neutral {
  background-color: #bd2c00;
}

html .text-red {
  color: #bd2c00!important;
}

html .reponav-item.selected {
  border-color: #d26911 #e5e5e5 transparent;
}

.github-header .header {
  background-color: #f5f5f5!important;
  border-bottom: 1px solid #e5e5e5!important;
  padding: 10px 0px 8px!important;
}

.github-header .container {
  display: flex;
}

.github-header .header-logo-invertocat, .github-header .header-logo-wordmark, .github-header .header-nav-link {
  color: #333333!important;
}

.github-header .header-search-scope {
  color: #767676!important;
  border-right: 1px solid #eeeeee!important;
}

.github-header .header-search-wrapper {
  color: #333333!important;
  background-color: #ffffff!important;
  border: 1px solid #dddddd!important;
}

.github-header .header-search-input {
  box-shadow: none!important;
  min-height: 26px!important;
}

.form-control.focus {
  border-color: #51a7e8!important;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075), 0 0 5px rgba(81,167,232,0.5)!important;
}

input.form-control::-webkit-input-placeholder {
  color: #767676!important;
}

.github-header .header-nav, .github-header .user-nav {
  list-style-type: none;
  display: flex;
}

.github-header .user-nav {
  margin-left: auto;
}

.github-header .header-nav-item {
  margin: 5px 7px!important;
}

.github-header .header-nav-link:hover .dropdown-caret, .github-header .header-nav-link:focus .dropdown-caret {
    border-top-color: #222222;
}

.github-header .header-nav-item:first-child {
  margin-left: 15px!important;
}

.github-header .header-nav-item.create-new {
  padding-top: 2px!important;
}

.github-header .header-nav-item.create-new a:hover {
  text-decoration: none!important;
}

.github-header .zh-todo-link {
  display: none!important;
}
